html, body {
	scroll-behavior: smooth;
	font-size: 1em;
	font-family: 'PT Sans Narrow', sans-serif;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
	line-height: 27px;
}

.font-h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
    html {
        font-size: 1.2em;
    }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 1.4em;
    }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size: 1.6em;
    }
    .font-h3 {
    	font-size: 10em;
    }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    html {
        font-size: 1.8em;
    }
    .font-h3 {
    	font-size: 10em;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
    html {
    	font-size: 1.3em;
    }
    .font-h3 {
    	font-size: 3.2em;
    }
}


a {
	text-decoration: none;
}

/*Barra de navegação*/
nav {
	background: #000;
	width: 100%;
	font-size: 0.8em;
}

#btn a {
	width: 60px;
	height: 30px;
	display: block;
	border-radius: 100px;
	position: relative;
}

#btn a.btn-pt {
	background: #3E8F48 url(../img/pt.png) no-repeat;
	background-size: 20px;
	background-position: right;
}

#btn a.btn-eng {
	background: #821F18 url(../img/eng.png) no-repeat;
	background-size: 20px;
	background-position: left;
}

#btn a:after {
	content: '';
	position: absolute;
	top: 1px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.2s;
}

#btn a.btn-pt:after {
	left: 3px;
}

#btn a.btn-eng:after {
	right: 3px;
}

#btn a.btn-pt:active {
	background: #821F18;
}

#btn a.btn-eng:active {
	background: #3E8F48;
}

#btn a.btn-pt:active:after {
	left: 100%;
	transform: translateX(-100%);
}

#btn a.btn-eng:active:after {
	right: 100%;
	transform: translateX(100%);
}

/*Apresentação*/
#home {
	height: 92vh;
	/*background: #212121 url(../img/bg.jpg) no-repeat;*/
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}

#container-principal {
	height: 100%;
	background: rgba(0, 0, 0, 1);
}

.caixa {
	background: black;
	min-height: 20vh;
	border-radius: 10px;
}

.resumo {
	background: rgba(250, 250, 250, 0.5);
	padding: 20px 20px;
	color: #000;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*Rodapé*/
footer {
	height: 92vh;
}

#copyright {
	background: #000;
}