/*FONTES*/
/*Montserrat*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

/*Roboto Mono*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
/********************************************************/

/*Configurações padrão*/
* {
	box-sizing: border-box;
}

html,
body, {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	overflow-x: hidden;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
/********************************************************/

/*MENU LATERAL*/
.botoes-laterais > a.anterior {
	position: fixed;
	top: 18%;
	left: 1%;
	z-index: 10;
}

.botoes-laterais > a.proximo {
	position: fixed;
	bottom: 8%;
	right: 1%;
	transform: rotate(180deg);
	z-index: 10;
}
/********************************************************/

/*HOME*/
.container-background {
	height: 100vh;
	width: 100vw;
	background: #212121 url("../img/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: blur(5px);
}

.container-home {
	text-align: center;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container-apresentacao {
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
}

.container-apresentacao > .caixa {
	width: 100%;
	height: 50%;
	align-self: center;
	bottom: 15%;
	position: absolute;
}

.container-apresentacao .botaoconheca {
	position: absolute;
	bottom: 5%;
	width: 100%;
}

.container-apresentacao h1.name {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 88px;
	letter-spacing: 5px;
	margin: 0;
	display: inline-block;
}

.container-apresentacao a.linkconheca {
	width: 100%;
	color: #FFF;
}

.container-apresentacao a.linkconheca:hover {
	text-decoration: none;
	color: #222;
}

.container-apresentacao h2.conheca {
	background-color: #68BAC6;
	font-size: 11px;
	color: #FFF;
	text-transform: uppercase;
	padding: 15px 1px;
	width: 100%;
	border-radius: 25px;
}
/*Media queries para Home*/
/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
    html {
        font-size: 1.2em;
    }
    .muda-menu {
    	background-color: rgba(0, 0, 0, 0.9);
    }
    .muda-menu li.linha {
		line-height: 15px;
		text-align: center;
	}
    .container-apresentacao > .caixa {
    	bottom: 10%;
    }
    .container-apresentacao h1.name {
    	font-size: 1.8em;
    	letter-spacing: 1px;
    }
    .container-apresentacao .botaoconheca {
    	bottom: 30%;
    }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 1.4em;
    }
    .muda-menu {
    	background-color: rgba(0, 0, 0, 0.9);
    }
    .muda-menu li.linha {
		line-height: 15px;
		text-align: center;
	}
    .container-apresentacao > .caixa {
    	bottom: 10%;
    }
    .container-apresentacao h1.name {
    	font-size: 1.6em;
    	letter-spacing: 1px;
    }
    .container-apresentacao .botaoconheca {
    	bottom: 30%;
    }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size: 1.6em;
    }
   	.muda-menu {
    	background-color: rgba(0, 0, 0, 0.9);
    }
    .muda-menu li.linha {
		line-height: 20px;
		text-align: center;
	}
    .container-apresentacao > .caixa {
    	bottom: 10%;
    }
    .container-apresentacao h1.name {
    	font-size: 2em;
    	letter-spacing: 1px;
    }
    .container-apresentacao .botaoconheca {
    	bottom: 30%;
    }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    html {
        font-size: 1.8em;
    }
    .container-apresentacao > .caixa {
    	bottom: 10%;
    }
    .container-apresentacao h1.name {
    	font-size: 2em;
    	letter-spacing: 2px;
    }
    .container-apresentacao .botaoconheca {
    	bottom: 30%;
    }
    .container-principal .large-view {
    	height: 100vh;
    }
    .container-principal .caixa-direita {
    	height: 100vh;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
    html {
    	font-size: 1.3em;
    }
    .container-principal .large-view {
    	height: 100vh;
    }
    .container-principal .caixa-direita {
    	height: 100vh;
    }
}
/********************************************************/

/*CONTEÚDO PRINCIPAL*/
.container-principal {
	width: 100vw;
	height: 100%;
	color: #FFF;
}

/*SOBRE*/
.container-principal .padding-top {
	padding-top: 60px;
}

.caixa-esquerda {
	background-color: #68BAC6;
}

.caixa-direita {
	background-color: #343A48;
}

.container-princpal p,
.container-princpal span {
	font-family: 'Montserrat', sans-serif;
}

.container-principal h3,
.container-principal h4 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.container-principal h3.subtitulo {
	font-weight: lighter;
	font-size: 52px;
}

.container-principal h4.subtitulo2 {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 25px;
	display: inline-block;
}

.container-principal span.textoadicional {
	font-size: 10px;
	font-style: italic;
}

p.textosobre {
	font-size: 0.8em;
}

span.destaquesobre {
	color: #616774;
}
/********************************************************/