:root {
	/* Cores padrões e suas versões suaves */
	--color-zero: #FFF;
	--color-zero-light: rgba(255, 255, 255, 0.6);
	--color-zero-lighter: rgba(255, 255, 255, 0.2);
	--color-negative: #000;
	--color-negative-light: rgba(0, 0, 0, 0.9);
	--color-medium: #666;
	--color-medium-light: rgba(150, 150, 150, 0.2);
	--color-first: #343A48;
	--color-first-light: #616774;
	--color-second: #68BAC6;
	--color-second-light: #B2D9DF;

	--color-link-alt: #6A74BB;

	/* Cores do efeito do botão da página home */
	--color-pulse-start: rgba(150, 150, 150, 0);
	--color-pulse-middle: rgba(150, 150, 150, 0.2);
	--color-pulse-end: rgba(150, 150, 150, 0.5);
}