/*Limpar formatações padrões*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvica, sans-serif;
	background: #e6e6e6;
}

/*Layout*/

#area-cabecalho {
	background: #f7b600;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-logo {
	display: inline-block;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens {
	width: 660px;
	float: left;
	padding-bottom: 10px;
}

#area-lateral {
	width: 240px;
	float: right;
}

#rodape {
	background: #CCC;
	clear: both;
	text-align: center;
	padding: 15px;
}

.postagem {
	padding: 5px 20px;
	margin-bottom: 20px;
	background: white;
}

/*Formatação do menu*/

a {
	text-decoration: none;
	margin-top: 0px;
}

a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

#area-menu a:link, #area-menu a:visited {
	color: #FFF;
	padding: 8px 12px;
	text-decoration: none;
}

#area-menu a:hover {
	color: #f7b600;
	background: #FFF;
}

.postagem a:link, .postagem a:visited {
	color: #777;
	padding: 8px 1px;
}

#area-logo a:hover, .postagem a:hover {
	background: none;
	text-decoration: none;
	color: #ff7600;
}

.postagem a:hover {
	text-decoration: underline;
}

.efeito-titulo a:link, .efeito-titulo a:visited {
	color: #f7b600;
}

.efeito-titulo a:hover{
	color: #CB671B; 
	text-decoration: none;
}

/*Formatações gerais*/

h1 {
	color: #4e4e4e;
	font-size: 2em;
}

h2 {
	color: #f7b600;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

.branco {
	color: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
	text-decoration: bold;
	margin-bottom: 10px;
	display: block;
}

.efeito-titulo{
	display: inline-block;
	margin: 10px 0; 
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.texto-lateral {
	font-size: 0.9em;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}