.habilidades-conteudo {
	padding: 20px 30px;
	box-shadow: 0 0 10px 0 black;
	background-color: var(--color-negative-very-lighter);
}

.habilidades-conteudo .habilidades-texto {
	text-align: justify;
}

.habilidades-texto > .cabecalho {
	border-bottom: 1px solid var(--color-zero-lighter);
	margin-bottom: 15px;
}

.habilidades-texto h3 {
	text-align: center;
}

.caixa-conhecimentos > .lista-conhecimentos {
	background-color: #f00;
	padding: 0;
}

.lista-conhecimentos > .item {
	background-color: #0f0;
}

.lista-conhecimentos .btn-item {
	width: 100%;
	text-align: justify;
}
