
.habilidades-conteudo {
	box-sizing: border-box;
	background-color: var(--color-first);
}

.habilidades-conteudo .caixa-direita {
	background-image: url("../../img/bg4.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
	background-attachment: fixed;
}

.habilidades-conteudo .caixa-habilidades {
	min-height: 150px;
	background-color: var(--color-zero);
	border-radius: 10px;
	color: var(--color-first);
	text-align: center;
	margin: 10px;
}

.caixa-habilidades > .caixaimg {
	font-size: 50px;
}

/*Background responsivo*/
/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 991.98px) {
	.habilidades-conteudo .caixa-direita {
		background-size: cover;
	}
	.habilidades-conteudo .caixa-habilidades {
		min-height: 200px;
	}
	.caixa-habilidades > .caixaimg {
		font-size: 90px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.habilidades-conteudo .caixa-direita {
		background-size: cover;
	}
	.habilidades-conteudo .caixa-habilidades {
		min-height: 150px;
		min-width: 90px;
	}
	.caixa-habilidades > .caixaimg {
		font-size: 50px;
	}
}

.caixa-esquerda .link-certificado {
	color: var(--color-link-alt);
}

.caixa-esquerda .link-certificado:hover {
	color: var(--color-zero);
	text-decoration: none;
}

