/* Configuração geral */
.habilidades-conteudo {
	padding: 20px 30px;
	text-align: justify;
	background-color: var(--color-negative-very-lighter);

	-webkit-box-shadow: 0 0 10px 0 var(--color-negative);
	-moz-box-shadow: 0 0 10px 0 var(--color-negative);
	box-shadow: 0 0 10px 0 var(--color-negative);
}

/* Configuração do texto */
.habilidades-texto > .cabecalho {
	border-bottom: 1px solid var(--color-zero-lighter);
	margin-bottom: 15px;
}

.habilidades-texto .subtitulo2 {
	text-align: center;
}

/* Configurações gerais das listas */
.caixa-conhecimentos > .lista-conhecimentos,
.caixa-cursos > .lista-cursos {
	padding: 0;
	margin: 0;
}

.habilidades-texto > .caixa-conhecimentos {
	margin-bottom: 30px;
}

.habilidades-texto .titulo {
	padding: 4px 0 4px 10px;
	margin: 0;
	text-align: left;
	color: var(--color-second);
}

.habilidades-texto .detalhes {
	display: inline-block;
	color: var(--color-zero-light);
	margin-left: 5px;
}

/* CONHECIMENTOS */
/* Linha com botão dropdown */
.lista-conhecimentos .botao-dropdown {
	width: 100%;
	padding: 0;
	border: none;
	cursor: pointer;

	background-color: transparent;
	border-bottom: 1px solid var(--color-zero-lighter);
}

.botao-dropdown .titulo {
	background-color: var(--color-negative-lighter);

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.botao-dropdown .detalhes {
	margin-left: 3px;
}

.botao-dropdown .nivel {
	display: inline-block;
	margin-left: 2px;
}

/* Conteúdo do botão dropdown */
.botao-dropdown > .conteudo {
	display: none;
	height: 0;
	width: 100%;
	margin: 0;
	padding: 5px 20px;
	cursor: default;

	text-align: justify;
	background-color: var(--color-zero);
	color: var(--color-negative);

	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;
}

.botao-dropdown .conteudo .detalhes {
	color: var(--color-negative);
}

/* Efeito hover do botão dropdown */
.botao-dropdown:hover > .titulo {
	background-color: transparent;

	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

/* Efeito ao clicar no botão dropdown */
.lista-conhecimentos .botao-dropdown:focus {
	outline: 0;
}

.botao-dropdown:focus > .titulo,
.botao-dropdown:focus .titulo .detalhes {
	color: var(--color-zero);

	-webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

.botao-dropdown:focus > .titulo {
	background-color: var(--color-negative);

	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.botao-dropdown:focus > .conteudo {
	display: block;
	height: 100%;
}

.botao-dropdown .expandir {
	margin-right: 8px;

	-webkit-transition: -webkit-transform 0.2s ease-in;
	-moz-transition: -moz-transform 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
}

.botao-dropdown:focus .expandir {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-webkit-transition: -webkit-transform 0.2s ease-in;
	-moz-transition: -moz-transform 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
}

/* CURSOS */
.caixa-cursos > .lista-cursos {
	padding: 0;
	color: var(--color-negative);
}

.lista-cursos > .item-cursos {
	margin-bottom: 5px;
}

/* Configuração dos textos */
/* Configuração do título do curso */
.item-cursos > .titulo {
	padding: 4px 0 4px 10px;
	background-color: var(--color-negative);
}

.item-cursos .textoicone {
	color: var(--color-zero-light);
	margin-left: 2px;
	margin-right: 10px; 
}

@media (max-width: 900px) {
	.item-cursos > .subtitulo4 {
		display: block;
		padding-top: 10px;
		margin: 0;
	}
	.item-cursos .detalhes {
		display: block;
		margin: 0;
	}
}

/* Configuração do conteúdo do curso */
.item-cursos > .conteudo {
	padding: 5px 10px;
	background-color: var(--color-zero);
	text-align: justify;
}

.item-cursos .texto-menor {
	margin-bottom: 10px;
}

.item-cursos .linkexterno {
	font-size: 10px;
}

.item-cursos .sitecurso {
	color: var(--color-negative);
	border-bottom: 1px dotted var(--color-negative);
}

.item-cursos .sitecurso:hover {
	text-decoration: none;
	border-bottom: none;
	background-color: var(--color-second-light);

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.item-cursos .certificado {
	background-color: var(--color-medium-lighter);
	color: var(--color-negative);
	padding: 2px 5px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.item-cursos .certificado:hover {
	background-color: var(--color-medium);
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
