.home-conteudo {
	width: 100%;
	height: 50%;
	align-self: center;
	bottom: 15%;
	position: absolute;
}

.home-conteudo > .botao {
	position: absolute;
	bottom: 5%;
	width: 100%;
}

.home-conteudo .conheca {
	background-color: var(--color-second);
	padding: 15px 1px;
	border-radius: 25px;
}

.home-conteudo a.linkconheca {
	width: 100%;
	color: var(--color-zero);
}

.home-conteudo a.linkconheca:hover {
	text-decoration: none;
	color: var(--home-hover);
}