.sobre-conteudo {
	padding: 20px 30px;
	box-shadow: 0 0 20px 0 black;
	background-color: var(--color-zero);
}

.sobre-conteudo .sobre-texto {
	color: var(--color-base);
	text-align: justify;
}

.sobre-conteudo .sobrelink {
	border-bottom: 1px dotted var(--color-base);
	color: var(--color-base);
}

.sobre-conteudo .sobrelink:hover {
	background-color: var(--color-right);
	color: var(--color-zero);
	text-decoration: none;
	transition: all 0.3s ease-in;
}
