/*Media query para menu responsivo*/
/*Small devices (landscape phones, 768 e maiores)*/
@media (max-width: 768px) {
	.barra-navegacao li.linha {
		padding-left: 5px;
	}
	.barra-navegacao li.linha:not(.linha1) {
		border-top: 1px dotted var(--dark);
	}
}

/* Configurações barra de menu */
.barra-navegacao {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 9999;

	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

.barra-navegacao a.linkmenu {
	color: var(--color-zero-light);
}

.barra-navegacao a.linkmenu:hover {
	color: var(--color-zero);
}

/* botão dropdown */
.barra-navegacao .muda-dropdown {
	background-color: var(--color-negative-light);
	color: var(--color-zero-light);
}

.barra-navegacao a.linkdropdown {
	color: var(--color-zero);
}

.muda-dropdown button.btn-current:hover {
	background-color: var(--color-negative-light);
}

/* efeito que muda a cor com a rolagem da página */
.muda-cor {
	background-color: var(--color-negative-light);

	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

/* Hamburger icon - responsivo */
.nav-icon {
	width: 25px;
	height: 0px;
	box-sizing: border-box;
	margin-top: -12px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
	background-color: var(--color-zero-light);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	content: '';
	display: block;
	height: 3px;
	margin-top: 3px;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.clicked:before {
	-webkit-transform: translateY(6px) rotate(135deg);
	-moz-transform: translateY(6px) rotate(135deg);
	-ms-transform: translateY(6px) rotate(135deg);
	-o-transform: translateY(6px) rotate(135deg);
	transform: translateY(6px) rotate(135deg);
}

.clicked:after {
	-webkit-transform: translateY(-6px) rotate(-135deg);
	-moz-transform: translateY(-6px) rotate(-135deg);
	-ms-transform: translateY(-6px) rotate(-135deg);
	-o-transform: translateY(-6px) rotate(-135deg);
	transform: translateY(-6px) rotate(-135deg);
}

.clicked div {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}