.botoes-laterais > a.anterior {
	position: fixed;
	top: 18%;
	left: 1%;
	z-index: 10;
	cursor: pointer;
}

.botoes-laterais > a.proximo {
	position: fixed;
	bottom: 8%;
	right: 1%;
	z-index: 10;
	cursor: pointer;
	
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
