/* Configurações do background da página home */
.container-background {
	height: 100vh;
	width: 100vw;
	position: relative;
	top: 0;
	left: 0;

	background: var(--color-first);
	background-image: url("../../img/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: blur(5px);
}