/* Configurações dos conteúdos da página home */
.home-apresentacao {
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
}
