/*Media queries para melhor visualização*/
/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-principal .large-view {
    	height: 100vh;
    }
    .container-principal .caixa-direita {
    	height: 100vh;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
    .container-principal .large-view {
    	height: 100vh;
    }
}
