:root {
	--color-menu-background: rgb(10, 10, 10);
	--color-menu-botao-active: rgba(30, 30, 30, 0.7);
	--color-zero: rgba(200, 200, 200, 1.0);
	--color-one: rgba(0, 226, 169);
	--color-two: rgba(0, 0, 0, 1.0);
}